.Pequeno-Container{
    display: flex;
    align-items: center;
    border: 1px solid black;
    padding: 20px 10px;
    margin-bottom: 10px;
    height: 100px;
}

.Pequeno-Container> img {
    width: 70px;
    margin-right: 10px;
    border-radius: 50%;
}

.Pequeno-Container h5 {
    margin-bottom: 15px;
}

.Pequeno-Container> div {
    display: flex;
    flex-direction: column;
    justify-items: flex-start;
}