 .App {
   text-align: center;
 }

 .App-logo {
   height: 40vmin;
   pointer-events: none;
 }

 @media (prefers-reduced-motion: no-preference) {
   .App-logo {
     animation: App-logo-spin infinite 20s linear;
   }
 }

 .App-header {
   background-color: #282c34;
   min-height: 100vh;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   font-size: calc(10px + 2vmin);
   color: white;
 }

 .App-link {
   color: #61dafb;
 }

 @keyframes App-logo-spin {
   from {
     transform: rotate(0deg);
   }

   to {
     transform: rotate(360deg);
   }
 }

 .mainContainer {
   display: flex;
   justify-content: center;
   flex-direction: column;
   align-items: center;
 }

 .gradeDigite {

   height: 50px;


 }

 .gradeMensagem {

   align-items: left;
   height: 850px;
   border: 1px;
   border-color: black;
   width: 400px;
   ;
   background-color: ;
 }

 .inputStyle {
   height: 50px;
 }

 input[type=text] {
   height: 50px;
 }

 .containerMensagem {
   background: lightblue;

 }

 .gradeCor {
   max-width: 40%;
   height: 100%;
   padding: 10 px 15 px;
   border-radius: 5 px;
   text-align: left;
   align-self: flex-start;
   display: flex;
   flex-direction: column;
   background-color: rgb(255, 255, 255);
   box-shadow: rgb(0 0 0 / 13%) 0px 1px 0.5px;
 }
 