* {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    padding: 16px;
    background-color: #ef843a;
    font-weight: bolder;
    height: 32px;

}

button {
    box-shadow: inset 0px 1px 0px 0px #cf866c;
    background: linear-gradient(to bottom, #d0451b 5%, #bc3315 100%);
    background-color: #d0451b;
    border-radius: 3px;
    border: 1px solid #942911;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 13px;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #854629;
}

button:hover {
    background: linear-gradient(to bottom, #bc3315 5%, #d0451b 100%);
    background-color: #bc3315;
}

button:active {

    position: relative;
    top: 1px;
}



footer {
    display: flex;
    background-color: #323b3e;
    align-items: flex-start;
    align-content: flex-end;
    flex-direction: column;
    justify-content: flex-end;
    height: 24px;
}

.grip {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

.media {
    display: grid;
    margin-top: 16px;
    margin-left: 16px;
    grid-template-columns: 100px;

}

.card-video {
    display: flex;
    flex-direction: column;

    margin-top: 64px;
    margin-left: 32px;
    margin-right: 32px;
    box-shadow: 4px 4px 10px gray;
    align-items: center;
    color: rgb(15, 2, 2);


}

.imagem-video {
    width: 100%;


}

main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;

    row-gap: 32px;

}

body {
    min-height: 100vh;
    display: grid;
    grid-template-rows: 64px 1fr 16px;


}

.link-video:hover {
    box-shadow: 2px 2px 20px 2px rgb(97, 97, 97);


}